/* Global CSS */
button {
    height: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
}

a {
    text-decoration: none;
}

/* CSS */

nav {
    background-color: #212529 !important;
}

nav a {
    color: white !important;
}

nav .navbar-toggler {
    color: white !important;
    border-color: white;
}

nav .logo {
    width: 50%;
}

nav .navbar-brand {
    width: 12%;
}

nav .links a::after {
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    background-color: white;
}

nav .links a:hover::after {
    width: 100%;
    transition: all 0.3s;
}

.welcome {
    /* background-color: rgb(210, 186, 255); */
    background-color: #bce2cf;
    height: 550px;
}

.welcome .left-pp {
    font-family: 'Poppins', sans-serif;
}

.welcome .left-pp {
    display: flex;
    align-items: center;
}

.welcome .left-pp div h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;

}


.welcome .right-pp img {
    width: 80%;
    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.3));
    -webkit-animation: mover_1 1s infinite alternate;
    animation: mover_1 2s infinite alternate;
}

@keyframes mover_1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

.about-me .left .img {
    display: inline-block;
    position: relative;
}

.about-me .left .img::before {
    position: absolute;
    top: 3%;
    left: -5%;
    width: 100%;
    height: 100%;
    border: 2px solid #212529;
    content: '';
    z-index: -1;
    border-radius: 3%;
}

.about-me .left .img img {
    /* background-color: rgb(210, 186, 255); */
    background-color: #bce2cf;
    border-radius: 3%;
}

.about-me .right iframe {
    border-radius: 2%;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 1px solid #212529;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #bce2cf;
    border: 2px solid #bce2cf;
}

.experience .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 1px solid #212529;
    position: relative;
}

.experience .resume-item h4 {
    line-height: 18px;
}

.experience .resume-item ul {
    padding-left: 20px;
}

.experience .resume-item ul li {
    padding-bottom: 10px;
}

.experience .resume-item:last-child {
    padding-bottom: 0;
}

.experience .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #bce2cf;
    border: 2px solid #bce2cf;
}

.skills .skills-card {
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
    transition: all 0.5s;
}

.skills .skills-card:hover {
    transform: translateY(-5px);
    transition: 0.5s all;
}

.skills .skills-logo {
    background-color: #bce2cf;
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

.project .project-card {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}

.contact-me .left span img {
    width: 3%;
}

#contact-me {
    /* background-color: rgb(210, 186, 255); */
    background-color: #bce2cf;
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright {
    background-color: #212529;
}

.copyright p {
    color: white;
}

.topButton {
    width: 50px;
    height: 50px;
    background-color: #0d6efd;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

#topButton {
    display: none;
}

@media only screen and (max-width: 991px) {

    nav .links a {
        display: inline-block;
    }

    .welcome {
        height: auto;
        padding: 50px 0;
    }

    .welcome .right-pp img {
        width: 30%;
    }

    .welcome .left-pp {
        text-align: center;
        order: 2;
        margin-top: 25px;
    }

    .welcome .left-pp div {
        margin: 0 auto;
    }

    .about-me {
        padding: 0 30px;
    }

    .about-me .left .img img {
        width: 250px;
    }

    .about-me .right {
        margin-top: 30px;
        width: auto;
    }

    .about-me .right h1,
    .about-me .right h3 {
        text-align: center;
    }

    .about-me .right iframe {
        display: block;
        margin: 0 auto;
        height: 350px;
        width: 75%;
    }

    .education {
        padding: 0 30px;
    }

    .experience {
        padding: 0 30px;
    }

    .skills {
        padding: 0 30px;
    }

    .skills .card-flex {
        justify-content: center;
    }

    .contact-me .left span img {
        width: 4%;
    }
}

@media only screen and (max-width: 767px) {
    .contact-me .left span img {
        width: 5%;
    }
}

@media only screen and (max-width: 575px) {

    .welcome .right-pp img {
        width: 40%;
    }

    .about-me .right iframe {
        height: 280px;
        width: 100%;
    }

    .contact-me {
        padding: 0 30px;
    }

    .contact-me .left span img {
        width: 6.5%;
    }
}